<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
           <a href="https://github.com/arturdligorio" target="_blank">Codigo Fonte</a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>Made by Douglas, Gabriel, João e Wagner for a better
      <a href="https://ww2.fumec.br/sinef/jsp/login.jsp" target="_blank">SINEF</a>
    </div>
  </div>
</footer>