.table-head-info-2{
    background-color: #39bbf3;
    color: #ffffff;
}
.desloc-left{
padding-left: 3%;
}

.whith-notas{

    width: 40%;
    background-image: linear-gradient(to top, #1320c3 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

