<div class="wrapper fadeInDown">
  <div id="formContent">
       
      <div class="fadeIn first">
        <img src="../../assets/img/icon-sinef.png" id="icon" alt="NEW SINEF"/>
      </div>
 
    <form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
      <input type="text" id="login" class="fadeIn second" formControlName="login" placeholder="Login" [ngClass]="{ 'invalid-border': submitted && f.login.errors }" />
      <div *ngIf="submitted && f.login.errors" class="invalid-label">
          <div *ngIf="f.login.errors.required">Login obrigatório</div>
      </div>
      <input type="password" id="password" class="fadeIn third" formControlName="password" placeholder="Password" [ngClass]="{ 'invalid-border': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-label">
          <div *ngIf="f.password.errors.required">Password obrigatório</div>
      </div>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <div id="formFooter">
      <div class="underlineHover"> v1.0.0</div>
    </div>

  </div>
</div>
