<div class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  
  <!--data-color="purple | azure | green | orange | danger"-->

  <div class="logo">
    
    <a [routerLink]="['/']" class="simple-text logo-normal">
      <img src="../assets/img/icon.png" alt="SINEF" height="42" width="42"> 
      NEW SINEF
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav" >
      <li routerLinkActive="active" class="nav-item " *ngFor=" let icon of icons">

        <a class="nav-link" routerLink="{{icon.path}}">
          <i class="material-icons">{{icon.icon}}</i>
          <p>{{icon.name}}</p>
        </a>
      </li>
    </ul>
  </div>
</div>