<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon height">
          <div class="card-icon">
            <i class="material-icons">assessment</i>
          </div>
          <p class="card-category">Fisica II</p>
          <h3 class="card-title">81/100
          </h3>
        </div>
        <div class="card-footer">
            <div class="stats">
              Nota Total
              </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon height">
          <div class="card-icon">
            <i class="material-icons">assessment</i>
          </div>
          <p class="card-category">Banco de Dados</p>
          <h3 class="card-title">85/100
          </h3>
        </div>
        <div class="card-footer">
            <div class="stats">
              Nota Total
              </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-primary card-header-icon height">
          <div class="card-icon">
            <i class="material-icons">assessment</i>
          </div>
          <p class="card-category">Desenvolvimento Web Front-End</p>
          <h3 class="card-title">84/100
          </h3>
        </div>
        <div class="card-footer">
            <div class="stats">
              Nota Total
              </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-danger card-header-icon height">
          <div class="card-icon">
            <i class="material-icons">assessment</i>
          </div>
          <p class="card-category">Processamento Digital de Sinais</p>
          <h3 class="card-title">80/100
          </h3>
        </div>
        <div class="card-footer">
            <div class="stats">
              Nota Total
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card card-chart ">
        <div class="card-header card-header-warning">
          <div class="ct-chart" id="dailySalesChart"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Faltas</h4>
          <p class="card-category">2/20</p>
        </div>
        <div class="card-footer">
          <div class="stats">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-chart">
        <div class="card-header card-header-success">
          <div class="ct-chart" id="dailySalesChart"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Faltas</h4>
          <p class="card-category">4/20</p>
        </div>
        <div class="card-footer">
          <div class="stats">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-chart">
        <div class="card-header card-header-primary">
          <div class="ct-chart" id="websiteViewsChart"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Faltas</h4>
          <p class="card-category">4/20</p>
        </div>
        <div class="card-footer">
          <div class="stats">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-chart">
        <div class="card-header card-header-danger">
          <div class="ct-chart" id="completedTasksChart"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Faltas</h4>
          <p class="card-category">6/20</p>
        </div>
        <div class="card-footer">
          <div class="stats">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>