<div class="container-fluid">
  <div class="row">
    <div *ngFor="let materia of notasService.getListNotaFalta()" class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-{{materia.color}} card-header-icon height">
          <div class="card-icon">
            <i class="material-icons">assessment</i>
          </div>
          <p class="card-category">{{materia.materia}}</p>
          <h3 class="card-title">{{materia.valor}}/100
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats footer-card">
            Nota Total
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let materia of notasService.getListNotaFalta()">
      <div class="card card-chart ">
        <div class="card-header card-header-{{materia.color}}">
          <div class="ct-chart" id="dailySalesChart"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Faltas</h4>
          <p class="card-category" style="font-size: 17px !important;">{{materia.faltas}}/20</p>
        </div>
        <div class="card-footer">
          <div class="stats">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>